services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:8000"
    volumes:
      - /mnt/user/appdata/avncodex-indexer/data:/data
    environment:
      - PUID=99
      - PGID=100
      - DATABASE_URL=sqlite+aiosqlite:////data/avn_index.db
      - F95_USERNAME=amanimmortal
      - F95_PASSWORD=27L5ueFMUZ4NmAz
    restart: unless-stopped
